<% @businesses.each do |business|%>
<br><a href="<%= business.location.address %>
"><%= business.name %></a><br>
<img src="<%= business.image_url %>"><br>
<img src="<%= business.rating_img_url %>"></a><br>
<%= business.location.address %>
<h1><%= business.id %></h1>


 <%end%>  
