<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forks | Forks</title>
  
  <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="https://www.macupdate.com/images/icons512/58322.png">
    <link rel="https://www.macupdate.com/images/icons512/58322.png" sizes="144x144" href="https://www.macupdate.com/images/icons512/58322.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.macupdate.com/images/icons512/58322.png.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.macupdate.com/images/icons512/58322.png">
    <link rel="apple-touch-icon-precomposed" href="https://www.macupdate.com/images/icons512/58322.png">




    <title>Forks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only" >Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home"><p style="color:white; font-family:Caflisch Script Pro, cursive, sans;">forks</p></a>
                </div>
        
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/posts">Explore</a></li>
                        <li><a href="/restaurants">Restaurants</a></li>
                        <% if current_user%>
                        <li><a href="/users/<%=current_user.id%>">Profile</a></li>
                        <li class="dropdown">
                        <% end %>
                            
                        <% if !current_user %>
                        <li><a href="/signup">Sign Up</a></li> 
                         <% end %> 
                        
                        <li class="dropdown">
                            <a href="/login" class="dropdown-toggle" data-toggle="dropdown">Log in <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                               
                                <li><a href="/login">Log in</a></li>

                                <li><a href="/logout">Log out</a></li>
                               
                           </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators" >
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                
                <div class="item active" style="background-image: url(http://houstonlocalfoods.com/images/slide-04.jpg)" style="width:100%; height:100%;" %>
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <!-- <h1 class="animation animated-item-1">Discover Restaurants</h1> -->
                                    <h2 class="animation animated-item-2">Discover Restaurants</h2>
                                    <a class="btn-slide animation animated-item-3" style="background-color:#03A9F4;" href="/restaurants">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img" style="background-color:#03A9F4;" >
                                    <img src="" class="img-responsive" style="background-color:#03A9F4;" >
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(http://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/9/11/0/FN_Fnd_alpers-donut-cake-2_s4x3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
<!--                                     <h1 class="animation animated-item-1"></h1>
 -->                                    <h2 class="animation animated-item-2">Explore Food</h2>
                                    <a class="btn-slide animation animated-item-3" style="background-color:#03A9F4;"  href="/posts">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="/images/slider/img2.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(https://www.wellandgood.com/wp-content/uploads/2016/05/Instagram-resized-featured.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                   <!--  <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1> -->
                                    <h2 class="animation animated-item-2">Share your photos</h2>
                                    <a class="btn-slide animation animated-item-3" style="background-color:#03A9F4;"  href="/posts">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
<!--                                     <img src="/images/slider/img3.png" class="img-responsive">
 -->                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Forks</h2>
                <p class="lead">Forks is a social media flatform where people can share photos of their food, discover new restaurants and share their experiences about food places. People can explore different kind of foods and enjoy the artsy food posts.<br> FEATURES <veniam></veniam></p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Upload Photos</h2>
                            <h3>Go ahead and share your artsy picture. We would like to see it!</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Discover Restaurants</h2>
                            <h3>There are a lot of restaurants that are waiting to be discovered!</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Fork Photos</h2>
                            <h3>We don't want you to lose the photos you like,so you can save photos through fork</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    

                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

   
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Forks</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <%= yield %>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>

