<h3>Discover Restaurants</h3>



<% @restaurants.each do |restaurant|%>

        <a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name %></a><br>
 <%end%>  


<% @businesses.each do |business|%>
<%= business.name %><br>
<img src="<%= business.image_url %>">
<img src="<%= business.rating_img_url %>"></a>
<a href="<business.location>"></a>

 <%end%>  