
<center><h1>Forks</h1>




<h2>Explore Food</h2>

<div class="row">

 <% if current_user %>
 <h3 style="color:blue;">Welcome <%=current_user.first_name%>!!</h3>
 <% end %>
<% @posts.each do |post|%>
  <div class ="col-lrg-7 col-lrg-7">
    <div class="well">
       


    
        image_tag <img src=<%= post.image %>><br>
      <a href="/posts/<%=post.id%>"><%= post.food %></a><br>
      
      <p><%= number_to_currency(post.price) %></p>
      <button>fork it</button>
    </div>
   </div>     

<% end%>
<!--  -->
</div>
   </center>


