<div ng-app="app">

</div>


<center><h1>Forks</h1>


<img src="http://www.rootscsa.org/wp-content/uploads/2014/06/Restaurant-Icon.png" width="200" height="200" >



<h2 font face="modern">Explore Food</h2>



 <% if current_user %>
 <h3 style="color:blue;">Welcome <%=current_user.first_name%>!!</h3>
 <% end %>
<% @posts.each do |post|%>
  <div class ="col-lrg-7 col-lrg-7">
    <div class ="col-lrg-7 col-lrg-7">
    <div class="row">
    <div class="well">
       



      <a href="/posts/<%=post.id%>"><img src=<%= post.image %>></a><br>
      <h5><%= post.food %></h5><br>
      
<!--       <p><%= number_to_currency(post.price) %></p>
 -->  
     <p><%= post.created_at.strftime("%B %d, %Y") %>
</p>
    

      <%= button_to "fork", "/forks",{method: :post, params: {post_id: post.id}, class: "btn"}%>

 
    </div>
   </div> 
   </div>    

<% end%>

</div>
   </center>
