<% if @post && @post.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@post.errors.count, "error") %> prohibited this product from being saved:</h2>
       
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<p>New Post</p>
<%= form_tag "/posts", method: :post, multipart: true do %>
    <div>
     Caption: <input type="text" name="food">
    </div>
    
    <div>
     Price: <input type="text" name="price">
    </div>
    
 
    <div>
     <%= label_tag :image %>
     <%= file_field_tag :image, accept: 'image/*;capture=camera' %>
    </div>

    <div>
    
    <%= label_tag :restaurant_id %>
    <%= text_field_tag :restaurant_id%>


   
    </div>

    <script>
    <datalist id="names">
      <option ng-repeat="restaurant in restaurants">{{restaurant.name}}</option>
    </datalist>

    Filter: <input ng-model="nameFilter" list="names">
    </script>



  
  <input type="submit" value="Create Post">
<% end %>