<nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" ></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home"><p style="color:white; font-family:Caflisch Script Pro, cursive, sans;">forks</p></a>
                </div>

        
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><img src= "">
                        <li class="active" ><a href="/home" >Home</a></li>
                        <li><a href="/posts">Explore</a></li>
                        <li><a href="/restaurants">Restaurants</a></li>
                        <%if current_user %>
                        <li><a href="/users/<%=current_user.id%>">Profile</a></li>
                        <%end%>
                        
                        <li><a href="blog.html">Blog</a></li> 
                        <li class="dropdown">
                            <a href="/login" class="dropdown-toggle" data-toggle="dropdown">Log in <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/login">Log in</a></li>

                                <li><a href="/logout">Log out</a></li>                     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

<div ng-app="app">

</div>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Services | Corlate</title>
    
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->


 <div class="row">    
      <div class="col-sm-9 col-sm-offset-2">
        <div class="well">
         <a href="/users/<%=@user.id%>"><%= @post.user.first_name%></a><br>
      
        
        <p> Caption: <%= @post.food %></p>
    
        <p>Restaurant:<a href="/restaurants/<%=@restaurant.id%>"> <%= @post.restaurant.name %></a></p>
      <p><%= number_to_currency(@post.price) %></p>
         <img src=<%= @post.image%>><br>
     <%= link_to "Fork", "/forks/new?post_id=#{@post.id}", class: "btn btn-info" %>



         </div>
      </div> 
    </div> 

  <% if current_user.id == @post.user_id%> 
    <%= link_to "Edit", "/posts/#{@post.id}/edit", class: "btn btn-success" %>
    <%= link_to "Delete", "/posts/#{@post.id}", {method: :delete, class: "btn btn-danger" }%>
  <% end %>     
<br>
<br>

  <%= form_tag "/comments", method: :post do %>
    <div>
    <%= hidden_field_tag :post_id, @post.id %>
    </div>
   <div>
    <h3>Comment:</h3>
     <textarea type="text" rows="4" cols="50" name="body">
Enter text here...</textarea>
    </div>


<% @post.comments.each do |comment| %>
<%= comment.user.first_name %>:
<%= comment.body %><br>
<%end%>



    
    
 

  


  
  <input type="submit" value="Submit">

<% end %>



 

      
    

  
    



  