

 <div class="row">    
      <div class="col-sm-9 col-sm-offset-2">
        <div class="well">
         <a href="/users/<%=@user.id%>"><%= @post.user.first_name%></a><br>
      
        
        <p> Caption: <%= @post.food %></p>
    
        <p>Restaurant:<a href="/restaurants/<%=@restaurant.id%>"> <%= @post.restaurant.name %></a></p>
      <p><%= number_to_currency(@post.price) %></p>
         <img src=<%= @post.image%>><br>
          <%= submit_tag "Fork it" %>
         </div>
      </div> 
    </div> 

  <% if current_user.id == @post.user_id%> 
    <%= link_to "Edit", "/posts/#{@post.id}/edit", class: "btn btn-success" %>
    <%= link_to "Delete", "/posts/#{@post.id}", {method: :delete, class: "btn btn-danger" }%>
  <% end %>     
 

      
    

  
    



  