


 <div class="row">    
      <div class="col-sm-9 col-sm-offset-2">
        <div class="well">
         <a href="/users/<%=@user.id%>"><%= @post.user.first_name%></a><br>
      
        
        <p> Caption: <%= @post.food %></p>
    
        <p>Restaurant:<a href="/restaurants/<%=@restaurant.id%>"> <%= @post.restaurant.name %></a></p>
      <p><%= number_to_currency(@post.price) %></p>
         <img src=<%= @post.image%>><br>
        <p><%= @post.created_at.strftime("%B %d, %Y") %>

         <br>
     <%= link_to "Fork", "/forks/new?post_id=#{@post.id}", class: "btn btn-info" %>


      <%= form_tag "/comments", method: :post do %>
    <div>
    <%= hidden_field_tag :post_id, @post.id %>
    </div>
   <div>
    <h3>Comment:</h3>
     <textarea type="text" rows="4" cols="50" name="body">
Enter text here...</textarea>
    </div>


<% @post.comments.each do |comment| %>
<b><%= comment.user.first_name %>:</b>
<%= comment.body %><br>
<%end%>



    
    
 

  


  
  <input type="submit" value="Submit">

<% end %>




         </div>
      </div> 
    </div> 

  <% if current_user.id == @post.user_id%> 


    <%= link_to "Edit", "/posts/#{@post.id}/edit", class: "btn btn-success" %>
    <%= link_to 'Delete',  "/posts/#{@post.id}", method: :delete, class: "btn btn-danger", remote: true, data: { confirm: 'Delete this post?' } %>
  <% end %>     
<br>
<br>

