<!DOCTYPE html>
<html>
  <head>



    <title>Forks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>




<nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" ></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home"><p style="color:white; font-family:Caflisch Script Pro, cursive, sans;">forks</p></a>
                </div>

        
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                       
                        <li class="active" ><a href="/" >Home</a></li>
                        <li><a href="/about_app">About</a></li>
                        <li><a href="/posts">Explore</a></li>
                        <%if !current_user %>
                        <li><a href="/signup">Sign Up</a></li>
                        <%end%>
                        <li><a href="/restaurants">Restaurants</a></li>
                        <%if current_user %>
                        <li><a href="/users/<%=current_user.id%>">Profile</a></li>



                        <%end%>
                        
                        <li class="dropdown">
                            <a href="/login" class="dropdown-toggle" data-toggle="dropdown">Log in <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/login">Log in</a></li>

                                <li><a href="/logout">Log out</a></li>                     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

<div ng-app="app">

</div>



            <%= yield %>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wow.min.js"></script>

  
    <!-- Leave out Storage -->
    <!-- <script src="/__/firebase/4.3.1/firebase-storage.js"></script> -->

    <script src="/__/firebase/init.js"></script>
</body>
</html>

